## Parte 1 Taller Modelación y Simulación 4

### Integrantes:
+ Santiago Beltrán
+ Laura González 
+ Tomás Macías

### Entendimiento del negocio (CRISP-DM)
Incluye: Explicación de la problemática, preguntas de negocio que se quieren responder, posibles riesgos, las limitaciones existentes y los criterios de éxito.  

Usamos como guía "https://pdf4pro.com/amp/download?data_id=73581e&slug=crisp-dm-1-the-modeling-agency-com".

### Carga de datos 
Excluímos, según las instrucciones, las variables: oprior, z30, zprior, preanti, str2, strat, offtrt, cd40, cd420, cd80, cd820.

In [1]:
import pandas as pd
urlcsv = "https://archive.ics.uci.edu/static/public/890/data.csv"
dfs = pd.read_csv(urlcsv)
no_data = ["oprior", "z30", "zprior", "preanti", "str2", "strat", "offtrt", "cd40", "cd420", "cd80", "cd820"]
df = dfs.drop(no_data, axis=1)
df

,pidnum,cid,time,trt,age,wtkg,hemo,homo,drugs,karnof,race,gender,symptom,treat
0,10056,0,948,2,48,89.8128,0,0,0,100,0,0,0,1
1,10059,1,1002,3,61,49.4424,0,0,0,90,0,0,0,1
2,10089,0,961,3,45,88.4520,0,1,1,90,0,1,0,1
3,10093,0,1166,3,47,85.2768,0,1,0,100,0,1,0,1
4,10124,0,1090,0,43,66.6792,0,1,0,100,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2134,990021,0,1091,3,21,53.2980,1,0,0,100,0,1,0,1
2135,990026,0,395,0,17,102.9672,1,0,0,100,1,1,0,0
2136,990030,0,1104,2,53,69.8544,1,1,0,90,1,1,0,1
2137,990071,1,465,0,14,60.0000,1,0,0,100,0,1,0,0
2138,990077,0,1045,3,45,77.3000,1,0,0,100,0,1,0,1

### Diccionario de datos
Descripción de la tabla, volumetría, descripción y tipo de cada columna, etc

"DiccionarioDeDatos.xlsx"

### Un primer análisis
#### Vistazo a los datos (head)

In [2]:
df.head()

,pidnum,cid,time,trt,age,wtkg,hemo,homo,drugs,karnof,race,gender,symptom,treat
0,10056,0,948,2,48,89.8128,0,0,0,100,0,0,0,1
1,10059,1,1002,3,61,49.4424,0,0,0,90,0,0,0,1
2,10089,0,961,3,45,88.4520,0,1,1,90,0,1,0,1
3,10093,0,1166,3,47,85.2768,0,1,0,100,0,1,0,1
4,10124,0,1090,0,43,66.6792,0,1,0,100,0,1,0,0

#### Estadísticos descriptivos (describe)

In [8]:
df.describe().round(2)

,pidnum,cid,time,trt,age,wtkg,hemo,homo,drugs,karnof,race,gender,symptom,treat
count,2139.00,2139.00,2139.00,2139.00,2139.00,2139.00,2139.00,2139.00,2139.00,2139.00,2139.00,2139.00,2139.00,2139.00
mean,248778.25,0.24,879.10,1.52,35.25,75.13,0.08,0.66,0.13,95.45,0.29,0.83,0.17,0.75
std,234237.29,0.43,292.27,1.13,8.71,13.26,0.28,0.47,0.34,5.90,0.45,0.38,0.38,0.43
min,10056.00,0.00,14.00,0.00,12.00,31.00,0.00,0.00,0.00,70.00,0.00,0.00,0.00,0.00
25%,81446.50,0.00,727.00,1.00,29.00,66.68,0.00,0.00,0.00,90.00,0.00,1.00,0.00,1.00
50%,190566.00,0.00,997.00,2.00,34.00,74.39,0.00,1.00,0.00,100.00,0.00,1.00,0.00,1.00
75%,280277.00,0.00,1091.00,3.00,40.00,82.56,0.00,1.00,0.00,100.00,1.00,1.00,0.00,1.00
max,990077.00,1.00,1231.00,3.00,70.00,159.94,1.00,1.00,1.00,100.00,1.00,1.00,1.00,1.00

#### Análisis de lo visto hasta el momento
1. Completitud: El dataset contiene todos los elementos esperados. 
2. Conformidad/Validez: El formato de los datos es aparentemente correcto. Los datos están en las unidades que son.
3. Consistencia: Los datos son consistentes, ya que en general no se ven inconsistencias entre las variables, ej personas con antecedentes de drogas pueden tener un menor karnofsky. Tampoco se ven inconsistencias en ID y otras variables (registros repetidos con distinto genero, por ejemplo).
4. Precisión / Exactitud: Los estadísticos realmente no pueden medir la precisión de los datos fieles, pero cada dato muestra con detalle su valor (no hay datos en rangos
5. Duplicidad / Unicidad: No hay manera de saber si hay registros repetidos, se deben buscar duplicados.

### Análisis de calidad de los datos
#### - Completitud:

#### - Consistencia:

#### - Conformidad/Validez:

#### - Precisión/Exactitud:

#### - Duplicidad/Unicidad:

#### - Integridad:

#### Resultado

### Conclusiones